@use '../../../styles/variables.scss' as *;
@use '../../../styles/mixins.scss' as *;

footer{
    background-color:$bg-transparent;
    height: 120px;
    margin-top: auto;
    display: flex;
    border-top: $border-solid-white;
}