<div class="create-sucursal-container">
  <div class="form-header">
    <h1>Registrar Sucursal</h1>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="sucursal-form">
    <div class="form-row">
      <app-input
        label="Ciudad"
        type="text"
        [control]="form.controls.ciudad"
        placeHolder="Ingrese el nombre de la ciudad"
      />
    </div>
    <div style="margin: 20px 0;">
            <p style="margin-bottom: 10px; font-size: 0.9rem; color: #666;">
                Selecciona la ubicación en el mapa:
            </p>
            
            <app-map (coordsSelected)="onUbicacionSeleccionada($event)"></app-map>

            @if(form.get('latitud')?.value) {
                <p style="margin-top: 5px; font-size: 0.8rem; color: green;">
                    ✅ Ubicación seleccionada: 
                    {{ form.get('latitud')?.value | number:'1.4-4' }}, 
                    {{ form.get('longitud')?.value | number:'1.4-4' }}
                </p>
            } @else {
                @if(form.touched){ 
                  <p style="margin-top: 5px; font-size: 0.8rem; color: #d9534f;"> 
                      * La ubicación es obligatoria
                 </p>
              }
            }
      </div>

    @if (sucursalStore.success()) {
      <div class="success-message">
        Sucursal creada exitosamente
      </div>
    }

    @if (sucursalStore.error()) {
      <div class="error-message">
        {{ sucursalStore.error() }}
      </div>
    }

    <div class="form-actions">
      <app-button
        class="btn-cancel"
        label="Cancelar"
        type="button"
        (action)="onCancel()"
      />
      
      <app-button
        class="btn-submit"
        label="Registrar Sucursal"
        type="submit"
        [disabled]="form.invalid || sucursalStore.isLoading()"
      />
    </div>
  </form>
</div>
