<mat-form-field >
  @if (label()) {
    <mat-label>{{ label() }}</mat-label>
  }
  
  <mat-select [formControl]="control()" [placeholder]="placeHolder()">
    <mat-option value="">
      @if(placeHolder()){
       {{placeHolder()}}
      }
      @else {
        None
      }
    </mat-option>
    @for (option of normalizedOptions(); track option.value) {
      <mat-option [value]="option.value">{{ option.label }}</mat-option>
    }
  </mat-select>
  
  @if (control().hasError('required')) {
    <mat-error>{{ label() || 'Este campo' }} es requerido</mat-error>
  }
</mat-form-field>