@use '../../../styles/variables.scss' as *;
.input-container {
  display: grid;
  grid-template-rows: auto 1.25rem;
  gap: 0.5rem;
}

.form-input {
  width: 100%;
  padding: 1rem;
  color: $text-primary;
  font-size: 1rem;
  background-color: #f7fafc;
  border: 2px solid $border-color;
  border-radius: $border-radius;
  transition: all $transition;
  outline: none;

  &::placeholder {
    color: $text-gray-light;
  }

  &:focus {
    background-color: $bg-light;
    border-color: $primary-color;
    box-shadow: 0 0 0 3px rgba(61, 93, 236, 0.1);
  }

  &:hover:not(:focus) {
    border-color: #cbd5e0;
    background-color: $bg-light;
  }
  
  &.ng-invalid.ng-touched {
    border-color: $error-color;
    background-color: #fff5f5;

    &:focus {
      box-shadow: 0 0 0 3px rgba(245, 101, 101, 0.1);
    }
  }
}

.form-input-error-message {
  font-size: 0.875rem;
  color: $error-color;
  font-weight: 500;
  line-height: 1.25rem;
  min-height: 1.25rem;
  display: block;
  animation: slideDown 0.2s ease;
}