<mat-form-field [appearance]="appearance()" [class]="containerClass()">
  @if (label()) {
    <mat-label>{{ label() }}</mat-label>
  }
  <input 
    matInput
    [id]="id()"
    [type]="type()"
    [placeholder]="placeholder()"
    [formControl]="control()"
    [maxlength]="maxlength()"
  />
  @if(hint()){
    <mat-hint>{{ hint() }}</mat-hint>
  }
  @if (control().hasError('required')) {
    <mat-error>{{ label() || 'Este campo' }} es requerido</mat-error>
  }
  @if (control().hasError('email')) {
    <mat-error>Ingresa un email valido</mat-error>
  }
  @if (control().hasError('minlength')) {
    <mat-error>Mínimo {{ control().getError('minlength').requiredLength }} caracteres</mat-error>
  }
  @if (control().hasError('maxlength')) {
    <mat-error>Máximo {{ control().getError('maxlength').requiredLength }} caracteres</mat-error>
  }
  @if (control().hasError('pattern')) {
    <mat-error>Formato inválido</mat-error>
  }
</mat-form-field>