@use '../../../styles/variables.scss' as *;
@use '../../../styles/mixins.scss' as *;

:host{
    @include page-overlay();
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 24px;
    align-items: center;
}
.create-vehicle-container {
    max-width: 1200px;
    width: 100%;
    padding: 40px;
    border-radius: $border-radius;
    background-color: #f8f8f8;
    margin-bottom: 70px;
}
h1{
    padding: 40px;
}

.vehicle-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 16px;
    
    app-input,
    app-input-select,
    .file-input-container {
        width: 100%;
    }
    
    ::ng-deep app-input-select {
        mat-form-field {
            width: 100%;
        }
    }
    .form-actions {
        grid-column: 1 / -1;
    }
}

.file-input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .file-label {
        font-size: 14px;
        font-weight: 500;
    }

    .file-input {
        padding: 8px;
        border: 1px solid #122020;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        background-color: rgba(230, 230, 230, 0.1);
        
        &:hover {
            border-color: #0c0c0c;
            background-color: rgba(172, 172, 172, 0.178);
        }
        
        &::file-selector-button {
            padding: 8px 16px;
            margin-right: 12px;
            border: none;
            border-radius: 4px;
            background-color: $primary-color;
            color: #ffffff;
            cursor: pointer;
            font-weight: 500;
            
            &:hover {
                background-color: $primary-hover;
            }
        }
    }

    .file-name {
        font-size: 12px;
        color: #ccc;
        margin-top: 4px;
    }
}

.form-actions {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    padding-top: 16px;
    border-top: 1px solid #e0e0e0;

    app-button {
        min-width: 120px;
    }
}

.btn-primary {
    background-color: #54d443;
    color: #000;
    padding: 10px 5px;
    border-radius: $border-radius;
    transition: ease 0.3s;
    &:hover {
        background-color: #00cc4e;
    }
    
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
