:host{
    display: flex;
    flex-direction: column;
    gap: 0;
}
.sidenav-item{
    padding: 16px 20px;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover{
        background-color: rgba(0, 255, 255, 0.1);
    }
}
