@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

:host {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidenav-item {
    margin: 0;
    text-align: left;
    color: black;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.2s ease;

    ::ng-deep button {
        width: 100%;
        padding: 16px 20px;
        border: none;
        background: none;
        text-align: left;
        cursor: pointer;

        @include mobile {
            padding: 14px 16px;
        }
    }

    &:hover {
        background-color: rgba(44, 12, 25, 0.205);
    }
}
