<header class="header">
  <div class="logo">
    <app-button label="RentCar" aria-label="Ir a la página principal de Alquileres" (action)="toHome()" class="logo-button">
    </app-button>
  </div>
    
    @if (authStore.isAuthenticated()) {
    <div class="user-menu">
      <app-button 
        label="Cuenta"
        class="header-button"
        aria-label="Menú de usuario"
      />
      
      <div class="dropdown-menu">
        <app-button 
          label="Cerrar sesión"
          class="dropdown-item"
          (action)="logout()"
        />
        @if (authStore.hasRole("CLIENT")){
          <app-button 
            label="Mis alquileres"
            class="dropdown-item"
          />
        }
      </div>

    </div> 
    }
    @else {
        <app-button 
          label="Iniciar sesión" 
          routerLink="/login"
          class="header-button"
        />
    }

</header>
