@let localVehicle = this.vehicle();
<app-card [title]="this.title()" [imgUrl]="localVehicle.imgUrl">
    <div content class="vehicle-details">
        <p class="vehicle-category">{{ localVehicle.categoria }}</p>
        <div class="vehicle-specs">
            <span class="spec">{{ localVehicle.marca }}</span>
            <span class="spec">{{ localVehicle.capacidad }} pasajeros</span>
        </div>
    </div>
    <div actions class="vehicle-actions">
        <span class="vehicle-price">${{ localVehicle.precioPorDia }}/día</span>
        @if (actions().length > 0) {
            @for (action of actions(); track action) {
                @let config = getActionConfig(action);
                <app-button 
                    [label]="config.label"
                    (action)="onActionClick(action)"
                    [class]="'vehicle-action-' + config.type"
                />
            }
        } @else {
            <ng-content select="[actions]"/>
        }
    </div>
</app-card>
